*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}

/* HEADER */
header{
    height: 80px;
    background-color: #2e3a46;
    display: flex;
    align-items: center;
}
header .spotify_logo{
    height: 40px;
    width: auto;
}

/* MAIN */
main{
    min-height: calc(100vh - 80px);
    background-color: #1e2d3b;
}
.my_container{
    width: 60%;
    margin: auto;
    padding: 80px 0;
}
/* Select genres */
.select_genres{
    color: white;
}
.select_genres select{
    padding: 3px 8px;
}
/* Disk */
.single_disk{
    padding: 10px;
    background-color: #2e3a46;
    width: calc((100% / 5) - 30px);
    margin: 15px;
    text-align: center;
    color: #808080;
}
.album_title{
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    font-weight: 800;
}
.album_author{
    font-size: 18px;
}
.album_date{
    font-size: 16px;
}
